.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.profile img{
    margin-top: 100px;
    border-radius: 50%;
    width: 290px; 
    height: 300px; 
    object-fit: cover;      /* Maintain aspect ratio and fill */
  object-position: center -0%; 
}

.profile h2{
    align-items: center;
    text-align: center;
    font-size: 60px;
    width: 85%;
    font-weight: 700;
}

.profile p{
    text-align: center;
    width: 60%;
    font-size: 24px;
    line-height: 35px;
}

.profile-action{
    gap: 70px;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;

}

.profile-connect{
    border-radius: 50px;
    background-color: rgb(19, 125, 219);
    padding: 20px 20px;
    cursor: pointer;
}

.profile-resume{
    border:2px solid white;
    padding: 20px 20px;
    border-radius: 50px;
    cursor: pointer;

}

.profile-connect:hover{
    transform: scale(1.05);

}

.profile-resume:hover{
    transform: scale(1.05);

}



@media(max-width:768px){
    .profile img{
        margin-bottom: 120px;
        width: 100%;
    }

    .profile h2{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .profile p{
        width: 60%;
    }
}



