.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 70px 160px;
}


.contact-title{
position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}


.contact-section{
    display: flex;
    gap: 140px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 55px;
    font-weight: 700;
    background: linear-gradient(264deg, #e7961c -5.00%, #a023da 106.28%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-left p{
    max-width: 550px;
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 20px;
}


.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label{
    color: #d8d8d8;
    font-size: 20px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-size: 20px;
}

.contact-right textarea{
    border: none;
    width: 680px;
    padding: 20px;

    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-size: 20px;

}

.contact-submit{
    font-size: 22px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    background: linear-gradient(264deg, #e7961c -5.00%, #a023da 106.28%);
    padding: 15px 30px;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.2s;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
